@import "tailwindcss";

@theme {
  /* Brand */
  --color-primary: oklch(51.1% 0.096 186.391);
  --color-secondary: oklch(70.4% 0.14 182.503);
  --color-secondary-hover: oklch(77.7% 0.152 181.912);
  --color-muted: oklch(86.9% 0.022 252.894);
  --color-on-primary: #ffffff;

  /* Background */
  --color-surface: oklch(96.8% 0.007 247.896);
  --color-surface-elevated: #ffffff;

  /* Text */
  --color-text-primary: #000000;
  --color-text-secondary: oklch(20.8% 0.042 265.755);

  /* Other */
  --color-card: #ffffff;
  --color-border: #000000;
}

@utility bg-gradient-primary {
  @apply bg-linear-to-r from-emerald-500 via-teal-500 to-cyan-500;
}

@utility bg-gradient-primary-soft {
  @apply bg-linear-to-r from-emerald-500/10 via-teal-500/10 to-cyan-500/10;
}

html, body {
  height: 100%;
  margin: 0;
}
